
/* 背景图 */
html {    
    background: url('https://godpan.com/bg.webp') no-repeat center center fixed;
    background-size: cover;
}

/* header布局 */
#header {
    height: 250px;
    position: relative; /* 父元素 #header 设置定位 */
}

#header h1 {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* avatar尺寸 */
.avatar {
    width: 120px;
    height: 120px;
    margin-top: 20px; /* 用百分比会崩 */
}

#header h1 a {
    margin-left: unset; /* 重置原参数8px为0 */
    margin-top: 10px; /* 用百分比会崩 */
    font-family: 
        "PingFang SC",     /* 苹方（macOS/iOS） */
        "Microsoft YaHei", /* 微软雅黑（Windows） */
        "Noto Sans SC",    /* 思源黑体（Linux/Android） */
        sans-serif;        /* 最终回退到无衬线字体 */
}

.blogTitle {
    display: unset; /* 重置属性取消默认屏幕过窄自动隐藏标题 */
}

.title-right {
    margin: unset; /* 重置原参数 */
    margin-top: 200px; /* 用百分比会崩 */
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
}


/* 主体布局 */
body {
    min-width: 200px;
    max-width: 885px;
    margin: 30px auto;   /*设置所有外边距离 */
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.25;
    background: rgba(237, 239, 233, 0.84); 
    border-radius: 10px; /* 圆角边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    overflow: auto;
}

/* 主页博客列表圆角边框 */
.SideNav {
    background: rgba(255, 255, 255, 0.6); /* 白色背景，透明度60% */
    border-radius: 10px; /* 圆角边框 */
    min-width: unset;
}

/* 鼠标放到博客标题后会高亮 */
.SideNav-item:hover {
    background-color: #c3e4e3;
    border-radius: 10px;
    transform: scale(1.04);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* 弹起动画时长 */
.SideNav-item {
    transition: 0.1s;
}

/* 分页条 */
.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus, .pagination em:hover, .pagination em:focus {
    border-color: rebeccapurple;
}
