
/* 背景图 */
html {    
    background: url('https://godpan.com/bg.webp') no-repeat center center fixed;
    background-size: cover;
}

/* 主体布局 */
body {
    min-width: 200px;
    max-width: 885px;
    margin: 30px auto;   /*设置所有外边距离 */
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.25;
    background: rgba(237, 239, 233, 0.84); 
    border-radius: 10px; /* 圆角边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    overflow: auto;
}

/* markdown内容 */
/* 图片圆角 */
.markdown-body img {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.78); 
}
        
/* notice、caution、warning等提示信息的圆角 */
.markdown-alert {
    border-radius: 8px;
}
        
/* 代码块 */
.markdown-body .highlight pre, .markdown-body pre {
    color: rgb(0, 0, 0);          /* 代码块内代码颜色 */
    background-color: rgba(243, 244, 243, 0.967);       /* 代码块内框颜色 */
    box-shadow: 0 10px 30px 0 rgba(222, 217, 217, 0.4);
    padding-top: 20px; 
    border-radius: 8px;
}

/* 行内代码 */
.markdown-body code, .markdown-body tt {
    background-color: #c9daf8;
}
        
/* 标题橙色包裹 */
.markdown-body h1{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    background: rgb(239, 112, 96);
    color: #ffffff;
    padding: 3px 10px 1px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 2px;
    margin-top: 1.8rem; 
}   
